@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@font-face {font-family:"Socialico";src:url("fonts/Socialico.eot?") format("eot"),url("fonts/Socialico.woff") format("woff"),url("fonts/Socialico.ttf") format("truetype"),url("fonts/Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Roboto"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{ font-family: "Socialico";}
/*button*/
.btn {font-family: "Oswald";font-size: 22px;font-weight: 300;color: #fff;display: inline-block;padding: 7px 23px;background: #0D4A93;border: 1px solid transparent;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Oswald"; font-size: 39px;font-weight: 700;color:#0C4A92;}
h1 span{color: #017100;}
h2 {font-family: "Roboto"; font-size: 65px;font-weight: 900;color: #fff}
h2 span{display: block;font-size: 45px; font-weight: 300; color: #fff; margin-top: -20px;}
h3 {font-family: "Oswald"; font-size: 20px;font-weight: 300;color:#000;}
/*header*/
#header {background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover;padding: 48px 0 461px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; background-color: #0D4A93}
#header nav ul li { display: inline-block;vertical-align: middle;max-width: 150px;width: 100%;padding: 10px 0;}
#header nav ul li:nth-child(2),#header nav ul li:nth-child(3),#header nav ul li:nth-child(4),#header nav ul li:nth-child(5){
  margin: 0 35px;
}
#header nav ul li a {font-family: "Oswald"; font-weight: 400; font-size: 18px; color: #fff;font-style: italic;}
#header nav ul li.active-menu, #header nav ul li:hover {-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); background-color: #84C123}
.hdTop{background: #fff; padding: 5px 20px;}
.hdTopLeft{text-align: left;}
.hdTopRight{text-align: right;padding: 25px 0;}
.hdTopRight p{margin: 0 auto;}
.hdTopRight p img, .hdTopRight p span{display: inline-block;vertical-align:middle}
.hdTopRight p.phone span{font-family: "Oswald"; font-weight: 500; font-size: 30px; color: #717272;margin-left: 10px;}
.hdTopRight p.email span{font-family: "Oswald"; font-weight: 400; font-size: 25px; color: #717272;font-style: italic;margin-left: 10px;}
.mainLogo{max-width: 435px; width: 100%;}
/*banner*/
/* #banner {background: #3c7f79;padding: 40px 0} */

/*content*/
/* #content {background: #f4ee98;padding: 40px 0} */
/* WELCOME */
#wlcSection{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: 100% 380px; padding: 73px 0 69px;}
.wlcLeft{text-align: left}
.wlcLeft.col-7{width: 51.33%;}
.wlcLeft dl{display: inline-block;vertical-align: top;margin: 0 20px 40px;max-width: 215px; width: 35%;text-align: center;}
.wlcLeft dl:nth-child(5){margin-left: 50px;}
.wlcLeft dl dt img{max-width: 181px; width: 84%;}
.wlcLeft dl dd{margin: 0px;font-family: "Oswald"; font-size: 25px; font-style: italic;color: #000; padding: 10px 0;}
.wlcRight{text-align: center;padding: 100px 0 0;}
.wlcRight.col-5{width:44.66%}
.wlcRight img{max-width: 530px; width: 100%;}
/* TESTIMONIALS */
#testSection{background: url(../images/common/bg3.jpg)no-repeat center top; background-size: cover;}
.testLeft{text-align: left}
.testLeft img{max-width: 577px; width: 100%; height: auto;}
.testRight {padding: 60px 0;}
.testRight h1{color: #fff}
.testRight h4{font-weight: 900; font-size: 17px; color: #fff;margin: 10px auto; }
.testRight h4 span{display:block;}
.testRight p{font-weight: 300; font-size: 17px; color: #fff;max-width: 530px; margin: 20px auto;}
.testRight .btn{background: #84C123;}
/* SERVICE 1 */
#svcSection{position: relative;min-height: 442px;}
.svcLeft{position: absolute;background: url(../images/common/bg4left.jpg)no-repeat center top;background-size: cover;padding: 65px 0 265px;left: 0;clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%)}
.svcLeft h2{position: relative;text-align: center; margin-right: -45%;}
.svcLeft h2::after{content: ""; max-width: 90px;width: 6%; height: 100px; background: #84C123; position: absolute; top: 100%; right: 39.4%;clip-path: polygon(82% 0, 100% 0, 100% 100%, 0 100%);}
.svcRight{position: absolute;background: url(../images/common/bg4right.jpg)no-repeat center top;background-size: cover;padding: 265px 0 65px;right: 0;clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0 100%);}
.svcRight h2{position: relative;text-align: center; margin-left: -35%;}
.svcRight h2:before{content: ""; max-width: 90px;width: 6%; height: 100px; background: #84C123; position: absolute; top: -78%; left: 34.2%;clip-path: polygon(0 0, 100% 0, 18% 100%, 0 100%);}
/* SERVICE 2 */
#svcSection2{background: url(../images/common/bg5.jpg)no-repeat center top; background-size: cover;}
.svcSection2Right.col-4{width: 36.33%;}
.svcSection2Right {text-align: left; color: #ffffff;padding: 96px 0 105px;}
.svcSection2Right p{font-weight: 300; font-size: 17px; color: #ffffff;}
/* SOCIAL MEDIA */
#smSection{background: url(../images/common/bg6.jpg)no-repeat center bottom; background-size: 1200px 580px; padding: 130px 0 60px;}
.smPanel{max-width: 380px; min-height: 360px; background: rgba(1,117,0,0.8); padding: 50px 20px 30px;margin-left: 20px;}
.smPanel p:nth-child(1){font-family: "Oswald"; font-weight: 700; font-size: 26px; color: #fff;margin: 0 auto;}
.smPanel p:nth-child(2){font-family: "Oswald"; font-weight: 300; font-size: 22px; color: #fff;margin: 70px auto 60px;position: relative;}
.smPanel p:nth-child(2)::before{content: ""; width: 100px;height:3px;background: #fff; left: 50%; transform: translateX(-50%);top: -35px;position: absolute;}
.smPanel p:nth-child(2)::after{content: ""; width: 100px;height:3px;background: #fff; left: 50%; transform: translateX(-50%);top: 95px;position: absolute;}
.smPanel p:nth-child(3){font-family: "Oswald"; font-weight: 300; font-size: 22px; color: #fff;margin: 0 auto;}
.smPanel p:nth-child(4) img{margin: 0 15px;}
/* GALLERY */
#gallSection{background: #0D4A93; padding: 15px 0 60px;}
#gallSection .row{max-width: 100%;}
#gallSection .images{max-width: 1600px; margin: 0 auto;}
#gallSection .col-sm{max-width: 500px; width:20%; margin: 0 auto;}
#gallSection .btn{background: #84C123; margin-top: 20px;}
/* MAP */
#mapSection .row{max-width: 100%}
/* CONTACT DETAILS */
#cntSection {background: url(../images/common/bg7.jpg)no-repeat center top; background-size: cover;padding: 30px 0 20px;}
.cntLeft img{max-width: 355px; width: 100%; height: auto; }
.cntLeft p.socialMedia{font-size: 33px; color: #fff;letter-spacing: 15px}
.cntMid{text-align: left;}
.cntMid h4{font-family: "Oswald"; font-size: 20px; color: #fff;font-style: italic;font-weight: 400}
.cntMid p{font-size: 14px; color: #fff;margin: 20px auto;}
.cntMid p span{display: inline-block;vertical-align: top;}
.cntMid p:nth-child(3) span{font-weight: 900; font-size: 20px}
.cntRight{text-align: left;}
.cntRight h4{font-family: "Oswald"; font-size: 20px; color: #fff;font-style: italic;font-weight: 400}
.cntRight .ctc-form {max-width: 460px; margin-top: 30px;color: #fff;}
.cntRight .ctc-form input[type="text"], .ctc-form textarea{border-radius: 0}
.cntRight .ctc-form input[type="text"]{max-width: 220px;width: 99%;height: 36px;}
.cntRight .ctc-form .btn{background: #84C123; margin-top: 20px;}
.ctc-form textarea{max-width: 450px}
/*footer*/
#footer {background: #0D4A93;padding: 10px 0}
#footer .copy, #footer .silver{font-size: 13px; color: #fff;margin: 5px auto;}

#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
.cta { display: none;}
/* MOBILE RESPONSIVE */
@media only screen and (max-width:1024px){
  body{min-width: 320px}
  .row{max-width: 95%}
  #header nav ul li{width: 10%}
  .svcLeft{position: relative;clip-path:unset;padding: 40px 0;width: 100%;}
  .svcRight{position: relative;clip-path:unset;padding: 40px 0;width: 100%;}
  .svcLeft h2,.svcRight h2{margin: unset;max-width: 95%}
  .svcLeft h2::after,.svcRight h2::before{display: none;}
  #svcSection{min-height: unset}
  .cntLeft,.cntMid,.cntRight{width: 100%; text-align: center;}
}

@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100% !important;
        float: none;
    }
    h1{font-size: 6vw}
    h2{font-size: 8vw}
    h2 span{font-size: 6vw; margin-top: 0;}
    #header{position: relative;padding: 60px 0;}
    .hdBot{position: absolute;top: 0;left: 0;background-color: #0D4A93;max-width: 100%;width: 100%;margin: 0 auto; }
    #header a#pull{display: block!important;text-align: left;font-family: "Oswald"; font-weight: 400; font-size: 18px; color: #fff;font-style: italic;padding: 10px 10px;}
    #header a#pull:after{content:url(../images/nav-icon.png); position: absolute; top:13px; right:10px}
    #header nav ul {display: none;margin: 0;padding: 0; background-color: #0D4A93;position: absolute;top: 46px;left: 0;width: 100%;}
    #header nav ul li {display: block;max-width: 100%;width: 95.8%;padding: unset;text-align: left;padding: 10px 10px;}
    #header nav ul li:nth-child(2),#header nav ul li:nth-child(3),#header nav ul li:nth-child(4),#header nav ul li:nth-child(5){
      margin: unset;
    }
    #header nav ul li.active-menu, #header nav ul li:hover {-webkit-clip-path: unset;
    clip-path: unset; background-color: #84C123;}
    .hdTopLeft {text-align: center;}
    .hdTopRight{text-align: center}
    .hdTopRight img{max-width: 38px; width: 10%;}
    .hdTopRight p span{font-size: 5vw!important}

    #wlcSection{padding: 30px 0;background-size: 100% 320px;}
    .wlcLeft{text-align: center;}
    .wlcLeft dl{margin: 0;width: 40%;}
    .wlcRight{padding: 20px 0 0}

    #testSection{padding: 20px 0}
    .testLeft img{display: none;}
    .testRight{padding: 20px 0}

    .svcSection2Right{text-align: center;padding: 20px 0}
    #svcSection2{background: url(../images/common/bg5mobile.jpg)no-repeat center top; background-size: cover;}
    #smSection{padding: 20px 0;}
    .smPanel{float: unset;margin: 0 auto;}
    .smPanel p:nth-child(4) img{max-width: 40px; width: 7%}

    #gallSection{padding: 20px 0}
    #gallSection .col-sm{width: 49%!important;}

    #cntSection{padding: 20px 0}
    .cntMid, .cntRight{text-align: center!important;}
    .cntRight .ctc-form input[type="text"]{max-width: 100%; width:95%;height: 36px;}
    .ctc-form textarea{max-width: 95%}
    .cta{background: #0D4A93  url("../images/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #0D4A93;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
